#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    // 1. CORRECTED BEHAVIOR DEFINITION
    //    The invalid 'bindings' property has been removed.
    behaviors {
        socd_nu: socd_nu {
            compatible = "zmk,behavior-socd";
            #binding-cells = <1>;
            mode = "nu"; // Neutral mode
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 2. CORRECTED BINDING SYNTAX
            //    This is the simple, correct way to use the behavior.
            bindings = <
                // Joystick (Up, Down, Left, Right)
                &socd_nu W      // Use SOCD for the 'W' key
                &socd_nu S      // Use SOCD for the 'S' key
                &socd_nu A      // Use SOCD for the 'A' key
                &socd_nu D      // Use SOCD for the 'D' key
                
                // 6 Action Buttons (B1-B6)
                &kp U &kp I &kp O
                &kp J &kp K &kp L
                
                // 3 Function Buttons (Start, Select, Home)
                &kp ENTER
                &kp SPACE
                &kp HOME
            >;
        };
    };
};